.featureCard {
  ul {
    list-style: none;
    padding: 0;
  }

  .card {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-family: 'roboto-light';
    padding: 20px;
    @media (min-width: 1200px) {
      padding: 20px 100px 30px 20px;
    }
  }

  .header {
    color: #71589b;
    font-family: 'roboto-medium';
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
  }

  .featuredAmentites {
    ul {
      display: inline-block;

      li {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
        span {
          vertical-align: text-top;
        }
      }
    }

    .svgStyles {
      width: 35px;
      height: 30px;
      margin-right: 5px;
      -webkit-font-smoothing: antialiased;
    }
  }

  .unitFeatureWrapper {
    float: left;
    width: 50%;
    ul li {
      float: none;
      margin-bottom: 0;
    }
  }

  .buildingFreatureWrapper {
    float: right;
    width: 50%;
    ul li {
      float: none;
      margin-bottom: 0;
    }
  }
}
