.nextArrow {
  &.slick-next {
    right: 20px;
    z-index: 1;
    width: 24px;
    height: 45px;

    &:before {
      content: '';
      display: block;
      background-image: url('/icons/right-arrow.svg');
      width: 24px;
      height: 45px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.prevArrow {
  &.slick-prev {
    left: 20px;
    z-index: 1;
    width: 24px;
    height: 45px;

    &:before {
      content: '';
      display: block;
      background-image: url('/icons/left-arrow.svg');
      width: 24px;
      height: 45px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.stickySidebar {
  color: #332a48;
  font-family: 'roboto-medium';
  font-size: 16px;
  height: 50vh;
  position: sticky;
  top: 100px;
  -webkit-font-smoothing: antialiased;

  .wrapper {
    padding: 25px 23px 20px;
  }

  .sidebarSection {
    margin-top: 10px;
    text-align: left;
  }

  .svgStyles {
    display: inline-block;
    float: left;
    width: 22px;
    margin: 0 5px 0 0;
  }

  .svgStylesText {
    display: inline-block;
    float: left;
    margin-right: 10px;
  }

  .amenitie {
    color: #d0021b;
    font-size: 12px;
  }

  .price {
    color: #000;
    font-family: 'roboto-bold';
    font-size: 40px;
    margin: -7px 0px -12px 0;
  }

  .noFee {
    color: #4a90e2;
    font-size: 16px;
  }

  .address {
    font-size: 16px;
  }

  .phone {

  }

  .sidebarButtons {
    margin-top: 30px;

  }

  .btnMargin {
    margin-top: 5px;
  }

  .logoBtn {
    width: 80px;
  }
}

.unit {

  .heroAddress {
    font-family: 'roboto-light';
    color: #fff;
    font-size: 30px;
  }

  .similarHeader {
    color: #332A48;
    font-family: 'roboto-light';
    font-size: 32px;
    margin-top: 40px;
    text-align: left;
  }

  .amentities {
    ul {
      list-style: none;
      padding: 0;
    }

    .card {
      display: inline-block;
      width: 100%;
    }
  }

  .floorPlanPill{
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    border-radius: 30px;
    bottom: 60px;
    color: #000;
    cursor: pointer;
    display: block;
    font-family: 'roboto-bold';
    font-size: 13px;
    left: 31px;
    padding: 1px 12px;
    position: relative;
    width: 100px;
    box-shadow: 3px 3px 2px #808080;
    z-index: 1;
  }

  .unitFeatureWrapper {
    float: left;
    width: 50%;

  }

  .buildingFreatureWrapper {
    float: right;
    width: 50%;
  }

  .transit {
    .subway {
      border-radius: 30px;
      display: inline-block;
      font-weight: bold;
      height: 28px;
      margin: 5px;
      text-align: center;
      width: 28px;
    }
    .s1, .s2, .s3 { background-color: #ed462f; color: #fff; }
    .s4, .s5, .s6 { background-color: #45943d; color: #fff; }
    .s7 { background-color: #ba47ad; color: #fff; }
    .sA, .sC, .sE { background-color: #2850ad; color: #fff; }
    .sB, .sD, .sF, .sM { background-color: #ef6230; color: #fff; }
    .sG { background-color: #6cbe45; color: #fff; }
    .sJ, .sZ { background-color: #996633; color: #fff; }
    .sL { background-color: #a7a9ac; color: #fff; }
    .sS { background-color: #808183; color: #fff; }
    .sN, .sQ, .sR, .sW { background-color: #fbcc33; color: #000; }
  }
}