.recircCard {
  height: 81px;
  display: inline-block;
  max-width: 367px;

  .recircImage {
    width: 135px;
  }

  .region {
    color: #b66ba3;
    font-family: 'roboto-bold';
    font-size: 10px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media (min-width: 576px) {
      margin-top: 3.5px;
    }
  }

  .address {
    color: #6d5b97;
    font-family: 'roboto-medium';
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    display: block;
    text-align: left;
    font-family: 'roboto-medium';
    font-size: 13px;
  }

  .svgStyle {
    height: 21px;
    margin: 0 5px 0 0;
    width: 22px;
  }

  &.floatLeft {
    float: left;
  }

  .details {
    padding: 0 12px 0 15px;
    @media (min-width: 576px) {
      margin: 0;
      width: 203px;
    }
  }
}
