.region {

  .heroAddress {
    color: #fff;
    font-size: 52px;
  }

  .filterHeader {
    color: #6d5b97;
    font-size: 16px;
    font-family: 'roboto-medium';
  }

  .bdrmBtn {
    margin-right: 6px;

    &:focus {
      box-shadow: none;
      border-color: #6d5b97;
      background-color: transparent;
    }

    &:hover {
      box-shadow: none;
      border-color: #6d5b97;
      background-color: rgba(109, 91, 151, 0.26);
    }

    &.selected {
      box-shadow: 0 0 0 0.2rem rgba(52, 42, 83, 0.35);
      background-color: rgba(109, 91, 151, 0.26);
      border-color: #6d5b97;
    }
  }

  .sort {
    color: #6d5b97;
    border-color: #6d5b97;
    background-color: transparent;
    &:hover {
      box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(52, 42, 83, 0.35);
    }
  }

  .priceMax, .priceMin {
    color: #6d5b97;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #6d5b97;
    height: 41px;
    padding: 0 12px;
    width: 170px;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #6d5b97;
    }
  }

}