.largeCard {

  .pill {
    -webkit-font-smoothing: antialiased;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-family: 'roboto-bold';
    font-size: 13px;
    padding: 1px 12px;
    position: absolute;
    right: 35px;
    top: -10px;
    z-index: 1;

    &.purple {
      background-color: #6d5b97;
    }

    &.red {
      background-color: #d74361;
    }

    &.yellow {
      background-color: #f7b138;
    }

    &.blue {
      background-color: #2d80ae;
    }
  }

  .nextArrow {
    &.slick-next {
      right: 20px;
      z-index: 1;
      width: 12px;
      height: 22.5px;

      &:before {
        content: '';
        display: block;
        background-image: url('/icons/right-arrow.svg');
        width: 12px;
        height: 22.5px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .prevArrow {
    &.slick-prev {
      left: 20px;
      z-index: 1;
      width: 12px;
      height: 22.5px;

      &:before {
        content: '';
        display: block;
        background-image: url('/icons/left-arrow.svg');
        width: 12px;
        height: 22.5px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}