.navbar {
	background-color: #fff;
	padding: 0;
	z-index: 3;

	.logo {
		padding: 20px 0;
		width: 85px;
	}

	.rentalsBtn {
		padding: 20px;
		cursor: pointer;
	}

}

.dropMenu {
  background-color: #faf9fb;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #6d5b97;
  font-size: 21px;
	height: 340px;
  left: 0;
	padding: 50px 0;
	position: fixed;
	width: 100%;
  right: 0;
  top: 64px;
  z-index: 2;

  .menuHeader {
  	font-family: 'roboto-light';
  }

  ul {
  	list-style: none;
  	padding: 0;
  	text-align: left;
  	li {

  	}
  }
}

.hide {
	display: none;
}
