.footer {
	.recircHeader {
		color: #6d5b97;
		font-family: 'roboto-light';
		font-size: 28px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			float: left;
			display: inline-block;
		}
	}

	hr {
		background-color: #6d5b97;
	}

	.footerLinks {
		margin: 27px 0;

		li {
			margin-right: 20px;
		}
	}

	.footerSocial {

		li {
			margin-right: 13px;
		}
	}

}